<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss}  %highlight(%-5level)  %-30.30(%class{0}) - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>myapplication.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%black(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %boldYellow(%logger{36}) - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- Loggers configuration -->
    <logger name="com.util.LogUtils" level="INFO">
            <appender-ref ref="Console" />
    </logger>


    <springProfile name="default">
        <!-- Loggers configuration for default profile -->
        <logger name="com.controller" level="INFO" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

        <logger name="com.service" level="INFO" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

        <logger name="com.repository" level="INFO" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>
    </springProfile>

    <!-- Debug logging configuration -->
    <springProfile name="debug">
        <!-- Loggers configuration for debug profile -->
        <logger name="com.controller" level="DEBUG" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

        <logger name="com.service" level="DEBUG" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

        <logger name="com.repository" level="DEBUG" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

        <logger name="com.Config" level="DEBUG" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>


        <logger name="com.mapper" level="DEBUG" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="FileLogger" />
        </logger>

    </springProfile>
    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="FileLogger" />
    </root>

</configuration>
